.popularities {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 35px;
  overflow-x: auto;
  margin: 0;
  padding: 0;
}

.container-of-popular {
  margin-top: 40px;
}

.container-of-popular h2 {
  margin-bottom: 30px;
  font-weight: 600;
}

::ng-deep .p-carousel-indicators {
  display: none;
}

::ng-deep .p-carousel-prev,
::ng-deep .p-carousel-next {
  border: none;
  background-color: transparent;
}
