.form {
  margin: 0;
}

.form h2 {
  margin: 0;
  padding: 20px 0px;
}

.form-body {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit {
  background-color: #e19f3d;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  color: white;
  width: 150px;
}
