<div *ngIf="this.bookDetails != null" class="book-container">
  <ul class="book-image-buttons">
    <li>
      <img class="book-image" [src]="bookDetails.book.bookImage" alt="" />
    </li>
    <!-- <li><button class="borrow-book">Забронювати</button></li> -->
    <li *ngIf="isBookmark">
      <button class="button-submit" (click)="onAddBookmark()">
        Видалити із закладинок
      </button>
    </li>
    <li *ngIf="!isBookmark && accountService.currentUser$ | async">
      <button class="add-to-bookmarks" (click)="onAddBookmark()">
        Додати до закладинок
      </button>
    </li>
  </ul>
  <div class="book-extended-details">
    <div class="title-and-like">
      <h1 class="book-name">{{ bookDetails.book.title }}</h1>
      <i
        *ngIf="isLiked"
        class="material-symbols-outlined favorite-icon"
        (click)="onAddLike()"
        >favorite</i
      >
      <i
        *ngIf="!isLiked && accountService.currentUser$ | async"
        class="material-symbols-outlined"
        (click)="onAddLike()"
        >favorite</i
      >
    </div>
    <ul class="book-labels">
      <li class="book-label">
        <i class="material-symbols-outlined">book</i>У закладинках:
        {{ bookDetails.book.numberOfBorrows }} 
      </li>
      <li class="book-label">
        <i class="material-symbols-outlined">rate_review</i>Коментарів:
        {{ bookDetails.book.numberOfComments }}
      </li>
      <li class="book-label">
        <i class="material-symbols-outlined">thumb_up</i>Вподобайок:
        {{ bookDetails.book.numberOfLikes }}
      </li>
    </ul>

    <div class="other-book-details">
      <div class="book-description">
        <ul class="book-year-lang">
          <li class="title-value">
            <span class="title-detail">Рік випуску</span>
            <span class="value-detail">2022</span>
          </li>
          <li class="title-value">
            <span class="title-detail">Мова</span>
            <span class="value-detail">{{ bookDetails.language }}</span>
          </li>
        </ul>
        <h4 class="books-headers">Опис</h4>
        <p class="description">{{ bookDetails.book.description }}</p>
        <div class="book-reviews">
          <h4 class="books-headers">Коментарі</h4>
          <form
            #postForm="ngForm"
            (ngSubmit)="onCreateComment(postForm)"
            class="comment-form"
          >
            <input
              name="content"
              [(ngModel)]="commentDTO.text"
              class="input-comment"
              type="textarea"
              placeholder="Веддіть коментар(Максимум 300 символів)."
              required
              maxlength="300"
              #textInput="ngModel"
              [disabled]="!isLoggedIn"
            />
            <button class="button-submit" type="submit">Надіслати</button>
          </form>
          <ul class="book-user-reviews">
            <li *ngFor="let user_review of bookDetails.comments">
              <img
                class="reviewers-avatar"
                src="{{ user_review.userImage }}"
                alt=""
              />
              <div>
                <h5 class="reviewers-name">{{ user_review.nickName }}</h5>
                <p class="reviewers-comment">{{ user_review.text }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <ul class="book-main-details">
        <li>
          <ul class="book-type-status">
            <li class="title-value">
              <span class="title-detail">Тип</span>
              <span class="value-detail">{{ bookDetails.category }}</span>
            </li>
            <!-- <li class="title-value">
              <span class="title-detail">Статус</span>
              <span class="value-detail">Позичено</span>
            </li> -->
          </ul>
        </li>
        <li class="title-value">
          <span class="title-detail">Автор</span>
          <span class="value-detail">{{ bookDetails.authorNames[0] }}</span>
        </li>
        <li class="title-value">
          <span class="title-detail">Видавництво</span>
          <span class="value-detail">{{ bookDetails.publishingHouse }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
