.book-container {
  display: grid;
  grid-template-columns: 1.4fr 4fr;
  gap: 20px;
  padding: 30px;
  padding-inline: 30px;
}

.book-image-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  align-items: center;
}

.book-image {
  width: 100%;
  aspect-ratio: 5/7;
  background-position: center center;
  background-size: cover;
  border-radius: 7px;
  flex-grow: 1;
  
}

.title-and-like {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.title-and-like .material-symbols-outlined {
  font-size: 30px;
}

.book-labels {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 25px;
}

.book-label {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 13px;
  padding: 3px 14px;
}

.other-book-details {
  display: grid;
  grid-template-columns: 2fr auto;
  background-color: #f4f4f4;
  gap: 40px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 40px;
}

.book-year-lang {
  display: flex;
  list-style: none;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.book-user-reviews {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin-top: 10px;
}

.books-headers {
  padding: 20px 0px 7px 0px;
}

.book-user-reviews li {
  display: flex;
  flex-direction: row;
}

.reviewers-avatar {
  height: 50px;
  width: 50px;
  margin: 0;
  margin-right: 10px;
  border-radius: 50px;
}

.reviewers-name {
  margin: 0;
  padding: 0;
}

.reviewers-comment {
  margin: 0;
  padding: 0;
}

.title-value {
  display: flex;
  flex-direction: column;
}

.title-detail {
  color: #aaa8a8;
  padding-top: 8px;
}

.description {
  margin: 0;
}

.book-main-details {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 30px;
}

.book-type-status {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.comment-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button-submit {
  background-color: #e19f3d;
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  color: white;
}

.add-to-bookmarks {
  border-radius: 8px;
  border: 1px solid #e19f3d;
  padding: 10px 20px;
  color: #e19f3d;
  background-color: white;
}

.input-comment {
  padding: 10px 10px;
  border-radius: 8px;
  border: #aaa8a8 solid 1px;
  width: 300px;
}

.material-symbols-outlined {
  color: #e19f3d;
  padding-right: 5px;
}

.material-symbols-outlined.favorite-icon {
  font-variation-settings: "FILL" 1;
}
