<div class="settings">
  <form
    #updateUserForm="ngForm"
    class="settings-form"
    (ngSubmit)="updateUser()"
  >
    <header class="form-header"><h3>Налаштування</h3></header>
    <div class="form-body">
      <label htmlFor="sign-in-password" class="input">
        <span>Емейл</span>
        <input
          name="email"
          [(ngModel)]="userDTO.email"
          class="input-update"
          type="email"
          id="email"
          disabled
        />
      </label>
      <label htmlFor="sign-in-password" class="input">
        <span>Нікнейм</span>
        <input
          [(ngModel)]="userDTO.nickname"
          class="input-update"
          type="text"
          name="nickName"
          id="username"
        />
      </label>
    </div>
    <button class="submit-button" type="submit">Оновити</button>
  </form>

  <div class="upload-photo-div">
    <div class="select-photo">
      <h3>Оновити аватар</h3>
      <input
        type="file"
        class="file-input"
        (change)="onChange($event)"
        #fileUpload
      />
      <div class="after-selected-photo">
        <button class="cancel-button" (click)="fileUpload.click()">
          Завантажити фото
        </button>
        <div *ngIf="file" class="file-name">{{ file.name }}</div>
      </div>
    </div>

    <div *ngIf="file">
      <button class="submit-button" (click)="onUpload()">
        Змінити фотографію
      </button>
      <section [ngSwitch]="status">
        <p *ngSwitchCase="'uploading'">⏳ Завантаження...</p>
        <p *ngSwitchCase="'success'">✅ Готово!</p>
        <p *ngSwitchCase="'fail'">❌ Помилка!</p>
        <p *ngSwitchDefault>😶 Очікування...</p>
      </section>
    </div>
  </div>
</div>
