.profile-avatar-background {
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px rgba(0.4, 0, 0, 0.4);
  padding: 0;
  margin-top: 30px;
}

.profile-background {
  position: relative;
  display: flex;
  height: 210px;
  /* width: 100%; */
  padding: 20px;
  background-image: url("../../../assets/images/library.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  /* align-items: end; */
  flex-direction: column;
}

.profile-background::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.profile-avatar {
  
  height: 120px;
  width: 120px;
  /* background-image: url("../../../assets/images/avatar2.jpg"); */
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}

.profile-avatar-nickname {
  display: flex;
  align-items:flex-end;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  gap: 10px;
}

.profile-navigation {
  display: flex;
  justify-content: end;
  gap: 25px;
  list-style: none;
  padding: 15px;
  padding-right: 30px;
  margin: 0;
}

.prof-nav-a {
  color: #e19f3d;
  text-decoration: none;
}

.active {
  color: black;
}

.profile-nickname {
  color: white;
}
