.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  z-index: 100;
  width: 600px;
  display: flex;
  flex-direction: column;
  height: auto;
  animation: fadeIn 0.3s ease-in-out;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

.form-header {
  padding: 20px;
  background-color: #f0f0f0;
}

.form-header h2 {
  margin: 0;
}

.form-body {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-button {
  background-color: #e19f3d;
  border-radius: 8px;
  border: none;
  padding: 5px 15px;
  color: white;
}

.cancel-button {
  background-color: white;
  border-radius: 8px;
  border: #e19f3d solid 1px;
  padding: 5px 15px;
  color: #e19f3d;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 20px 20px;
  gap: 10px;
}
