<footer class="footer">
    <ul class="logo">
        <li><img class="footer-logo" src="../../assets/images/icon_L.png" alt="logo"/></li>
        <li><a class="footer-library">Бібліотека</a></li>
        <li>©LNU Library</li>
    </ul>
    <ul class="footer-column">
        <li class="title">Інфо</li>
        <li class="subtitle"><a class="subtitle-link" routerLink="">Правовласникам</a></li>
        <li class="subtitle"><a class="subtitle-link" href="#">Що є корисного</a></li>
        <li class="subtitle"><a class="subtitle-link" href="#">Технічна підтримка</a></li>
    </ul>
    <ul class="footer-column">
        <li class="title">Розділи</li>
        <li class="subtitle"><a class="subtitle-link" routerLink="main">Головна</a></li>
        <li class="subtitle"><a class="subtitle-link" routerLink="catalog">Каталог</a></li>
        <li class="subtitle"><a class="subtitle-link" href="#">Випадкова книга</a></li>
    </ul>
    <ul class="footer-column">
        <li class="title">Соцмережі</li>
        <li class="subtitle"><a class="subtitle-link" href="#">Telegram</a></li>
        <li class="subtitle"><a class="subtitle-link" href="#">Instagram</a></li>
        <li class="subtitle"><a class="subtitle-link" href="#">TikTok</a></li>
    </ul>
</footer>
