.footer {
    padding: 0 70px;
    background-color: #F0F0F0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
}

.logo {
    margin-right: 40px;
    list-style: none;
    padding-right: 40px;
    align-items: center;
}

.footer-logo {
    height: 75px;
    width: 75px;
}

.footer-library {
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    background: -webkit-linear-gradient(#5F5F5F, #000000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-column {
    list-style: none;
}



.title {
    font-size: 25px;
    margin-bottom: 15px;
}

.subtitle {
    margin-bottom: 8px;
}

.subtitle-link {
    text-decoration: none;
    color: #000000;
}

.subtitle-link:hover {
    text-decoration: underline;
}