<h2>Панель адміна</h2>
<div class="tab-panel">
  <button class="create" (click)="navigateToAuthor()">
    Додати нового автора
  </button>
  <button class="create" (click)="navigateToHouse()">
    Додати нове видавництво
  </button>
  <button class="create" (click)="navigateToBook()">Додати нову книгу</button>
</div>
<app-create-author
  *ngIf="isModalAuthorOpened"
  (onClose)="handleAuthorClose()"
></app-create-author>
<app-create-publishing-house
  *ngIf="isModalHouseOpened"
  (onClose)="handleHouseClose()"
></app-create-publishing-house>
