.book-gif-container {
  display: flex;
}

.random-book-container {
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 25px;
  background-color: #f0f0f0;
  border-radius: 25px;
  align-items: flex-start;
  width: 800px;
  position: relative;
}

.random-book {
  display: flex;
  background-color: white;
  border-radius: 7px;
  text-decoration: none;
  color: black;
}

.random-book-title {
  min-width: 420px;
  max-width: 420px;
}

.random-book-container h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.container-of-novelties h2 {
  margin-bottom: 50px;
  font-weight: 600;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 15px;
}

.random-book-image {
  height: 200px;
  aspect-ratio: 8/11;
  /* background-image: url("../../../assets/images/VIN06.jpg"); */
  background-position: center center;
  background-size: cover;
  border-radius: 7px 0 0 7px;
}

.random-book-type {
  background-color: #e19f3d;
  text-align: center;
  border-radius: 10px;
  padding: 2px 12px;
}

.random-book-labels {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.material-symbols-outlined {
  color: #e19f3d;
}

.random-book-label {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 13px;
  padding: 3px 14px;
}

.material-symbols-outlined {
  font-size: 20px;
}

.choose-types {
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 15px;
  flex-grow: 1;
  padding-inline: 50px;
  margin-top: 100px;
}

.cat-image {
  width: 150px;
  position: absolute;
  top: -75px;
  right: -50px;
}

.selected-option {
  background-color: #d9d9d9;
}

.btn-random {
  background-color: white;
  border-radius: 8px;
  border: #e19f3d solid 1px;
  padding: 10px 20px;
  color: #e19f3d;
}
